bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
ProyectoFinal.API/appsettings.Development.json
.idea
ProyectoFinal.API/wwwroot/anuncios/*
ProyectoFinal.API/wwwroot/logos/*
!ProyectoFinal.API/wwwroot/logos/.gitkeep
!ProyectoFinal.API/wwwroot/anuncios/.gitkeep
!ProyectoFinal.API/wwwroot/logos/default.jpg