bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
ProyectoFinal.API/appsettings.Development.json
.idea
ProyectoFinal.API/wwwroot/anuncios
ProyectoFinal.API/wwwroot/logos
!wwwroot/logos/default.jpg