<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Restablecer Contraseña</title>
</head>
<body>
Hola @Model.Name, parece que quieres resetear la contraseña. Usa lo siguiente para hacerlo: @Model.Token
</body>
</html>